header{
    background-color:white;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 170px;
    margin-right: 170px;
    
}

#logo{
    padding-left: 18px;
    padding-top: 10px;
}

body{
    margin: 0;
    background-color: rgba(234, 243, 251, 0.876);
    font-family: 'Arial', sans-serif;
}

#textl{
    font-style:normal;
    font-size: 40px;
    position: absolute;
    padding-top: 10px;
}

.box1{
    padding-left: 50px;
    border-radius: 10px 5px 5px 10px;
}

#box3{
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow:0px 0px 0px rgb(206, 206, 206), 0 -2 8px rgb(213, 213, 213);
}

#box2{
    margin-block-start: 40px;
    padding: 10px;
    
}

#space{
    background-color: rgba(234, 243, 251, 0.876);
    width: 40;
    height: 2px;
}

#but1{
    padding: 5px;
    background-color: rgba(88, 189, 252, 0.859);
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 10px;
}

#but2{
    padding: 5px;
    background-color: rgba(253, 253, 255, 0);
    width: 84px;
    height: 30px;
    opacity: 3;
    border-radius: 10px;
    border-color: rgb(122, 120, 120);
}

ul {
    font-size: 16px;
    list-style-type: none;
    padding-left: 70px;
}

h3{
    font-size: 20px;
    line-height: 0;
    margin-block-start: 40px;
}
li h3::before{
    content: '\25BE';
}

li{
    margin-block-end: 20px;
    margin-right: 60px ;
}

.check :not(.cross li, #news, #rec, #rev, #mob, #inter, #hom, #onb, #sum)::before{
    content: "\2713";
    color: rgb(25, 172, 103);
    border: 1px solid rgb(25, 172, 103);
    border-radius: 80%;
    margin-right: 10px;
}


li:first-child{
    margin-block-start: 0px;
}
.cross li::before{
    content:"\2573";
    border: 1px solid red;
    color: red;
    border-radius: 80%;
    margin-right: 10px;
}

#news, #rec, #rev{
        display: inline-block;
        border: 7px solid rgb(118, 181, 240);;
        background-color: rgb(118, 181, 240);;
        position: absolute;
        text-align:center;
        font-size: 10px;
        width: 40px;
        border-radius: 10px 10px 10px 10px;
        font-style:normal;
        color: white;
}

#news { 
    margin-inline-start: 180px;
}

#rec{
    margin-inline-start: 173px;

}

#rev{
    margin-inline-start: 215px;
}

#mob{
    display: inline-block;
    border: 7px solid rgb(160, 39, 164);
    background-color: rgb(160, 39, 164);
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    font-style:normal;
    margin-inline-start: 165px;
    color: white;
    font-size: 10px;
    width: 50px;
    text-align:center;
}

#inter, #hom, #onb{
    display: inline-block;
    border: 7px solid rgb(25, 172, 103);
    background-color: rgb(25, 172, 103);
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    font-style:normal;
    font-size: 10px;
    color: white;
    text-align:center;
    width: 40px;
}


#inter{
    margin-inline-start: 160px;
    width: 50px;
}

#hom{
    margin-inline-start: 169px;
}

#onb{
    margin-inline-start: 282px;
}


#sum{
    display: inline-block;
    border: 7px solid rgb(225, 156, 65);
    background-color: rgb(225, 156, 65);
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    font-style:normal;
    margin-inline-start: 292px;
    color: white;
    font-size: 10px;
    width: 40px;
    text-align:center;
}

.mar{
    margin-left: -70px;
}

