header{
    background-color:white;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 170px;
    margin-right: 170px;
    
}

#logo{
    padding-left: 18px;
    padding-top: 10px;
}

body{
    margin: 0;
    background-color: rgba(234, 243, 251, 0.876);
    font-family: 'Arial', sans-serif;
}

#textl{
    font-style:normal;
    font-size: 40px;
    position: absolute;
    padding-top: 10px;
}

.box1{
    padding-left: 50px;
}

#box3{
    padding-top: 5px;
    padding-bottom: 1px;
}

#box2{
    margin-block-start: 40px;
    padding: 10px;
}

#space{
    background-color: rgba(234, 243, 251, 0.876);
    width: 40;
    height: 2px;
}

#but1{
    padding: 5px;
    background-color: rgba(88, 189, 252, 0.859);
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 10px;
}

#but2{
    padding: 5px;
    background-color: rgba(253, 253, 255, 0);
    width: 84px;
    height: 30px;
    opacity: 3;
    border-radius: 10px;
    border-color: rgb(122, 120, 120);
}

ul{
    font-size: 16px;
    list-style-type: none;
    padding-left: 70px;
}

h3{
    font-size: 20px;
}
li h3::before{
    content: '\25BE';
}

.last{
    margin-block-start: 30px;
    margin-block-end: 50px;
}

li{
    margin-block-end: 20px;
}

.check :not(.box4)::before{
    content: "\2713";
    color: green;
    border: 1px solid green;
    border-radius: 80%;
    padding-left: 5px;
    margin-right: 10px;
}

.check{
   padding-left: 0px;
}


li:first-child{
    margin-block-start: 0px;
}
.cross li::before{
    content:"\2573";
    border: 1px solid red;
    color: red;
    border-radius: 80%;
    padding-left: 5px;
    margin-right: 10px;
}

.box4 {
        display: inline-block;
        border: 3px solid blue;
        background-color: blue;
        position: absolute;
        border-radius: 23%;
        font-style:normal;
        padding-top: 10px;
        padding-block-start: 0px;
        margin-inline-start: 300px;
        color: white;
}