header{
    background-color:white;
}

main{
    background-color: rgb(255, 255, 255);
    margin-left: 210px;
    margin-right: 210px;
    font-family: 'roboto', sans-serif;
}

#logo{
    padding-left: 18px;
    padding-top: 10px;
}

body{
    margin: 0;
    background-color: rgba(234, 243, 251, 0.876);
}

#textl{
    font-style:normal;
    font-size: 40px;
    position: absolute;
    padding-top: 10px;
    font-family: 'roboto', sans-serif;
}

.box1{
    padding-left: 50px;
}

#box3{
    padding-top: 5px;
    padding-bottom: 1px;
}

#box2{
    margin-block-start: 40px;
    padding: 10px;
}

#space{
    background-color: rgba(234, 243, 251, 0.876);
    width: 40;
    height: 4px;
}

#but1{
    padding: 5px;
    background-color: rgba(88, 189, 252, 0.859);
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 7px;
}

#but2{
    padding: 5px;
    background-color: rgba(253, 253, 255, 0);
    width: 84px;
    height: 30px;
    opacity: 3;
    border-radius: 7px;
    border-color: rgb(122, 120, 120);
}

ul{
    font-size: 16px;
    list-style-type: none;
}

h3{
    font-size: 20px;
    margin-block-end: 10px;
}
li h3::before{
    content: '\25BC';
}

.last{
    margin-block-start: 30px;
    margin-block-end: 50px;
}

li{
    margin-block-end: 20px;
}
